.form-login{
    width: 400px;
    margin: auto;
    display:flex;
    flex-direction: column;
    background-color: lightcyan;
    padding: $space-6;
    border-radius: $space-1;
}

.login-button{
    margin-top: 250px;
}