.comp-login{

    position: relative;
    width: $width-comp-login;
    margin: auto;
    display:flex;
    flex-direction: column;
    background-color: white;
    padding: $space-6;
    border-radius: $space-1;
    text-align: center;

}

.app-name{
    font-size: $space-10;
    margin: 0;
    margin-top: $space-3;
    font-family: "druk", "sans-serif";
    font-style: italic;
    
}

.form-login{
    display:flex;
    flex-direction: column;
    margin-top: $space-3;
}

.login-button{
    margin-top: 250px;
}

.image-frame{
    width: 100px;
    height: 100px;
    margin:auto;
}

.error-display{
    color: red;
    position: absolute;
    width: $width-comp-login;
    top: 100%;
    transition: 0.5s all;

    p{
        display: block;
    }
}

.welcome-message{
    position: fixed;
    margin: auto;
    top: $space-10;
    width: 50%;
    left: 25%;
    right: 25%;
    font-family: "druk";
    font-size: $space-7;
    background-color: #D25D0E;
    border-radius: $space-2;
    animation: fade-in 0.7s ease-in-out;

}

@keyframes fade-in {
    0%   { top: -100px; }
    100% { top: $space-10; }
  }